body {
    background: rgb(189, 214, 142);
}

#juego div div {
    width: 10%;
    height: 70px;
    border: solid red 0.05px;
}

.fila {
    display: table; /*PERMITE NO TRSASPASAR A OTRA FILA*/
    clear: both;
    width: 100%;
    height: 70px;
    border: solid black 0.05px;
}

section { /*seccion donde guarda todo el contenido*/
    width: 80%;
    display: inline-block;
}

.adentro-cuadros { /*adentro de los cuadros*/
    width: 10%;
    height: 100%;
    /*background: url(../IMG/3.jpg) no-repeat 0 -15px;
    /*font-size: 45px;*/
    background-size: 300000000px 100px;
    margin-bottom: 0px;
}

.rodear-rigth {
    float: right;
    /*padding-top: 10px;*/
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    background: rgba(11, 77, 3, 0.98);
    background-image: url('http://paper-backgrounds.com/textureimages/2012/12/green-wood-texture-background-500x333.jpg');
}

.CarSal {
    padding-top: 8px;
    background-color: chartreuse;
    border-radius: 5px;
}

.rodear { /**/
    /*padding-top: 10px;*/
    float: left;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    background: rgba(11, 77, 3, 0.98);
    background-image: url('http://paper-backgrounds.com/textureimages/2012/12/green-wood-texture-background-500x333.jpg');
}

.jugar {
    background-color: rgb(7, 59, 6);
}

input {
    margin-bottom: 15px;
}

#Extreme {
    height: 30px;
}
/*---------------------------------------------*/
.Ronda {
    width: 12.5%;
    display: table;
    float: left;
}
