
@{
    ViewBag.Title = "YIndex";
}

<h2>YIndex</h2>
<form> 
    <asp:button name="button" value="first">First</asp:button> 
    <asp:button name="button" value="second">Second</asp:button> 
</form> 
<div> 
    @TempData["bl"] 1
</div>
